<!DOCTYPE html>

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title><%= $current %></title>
	<style type="text/css" media="screen">
		
		
		img.bg {
			/* Set rules to fill background */
			min-height: 100%;
			min-width: 1024px;
			
			/* Set up proportionate scaling */
			width: 100%;
			height: auto;
			
			/* Set up positioning */
			position: fixed;
			top: 0;
			left: 0;
		}
		
		@media screen and (max-width: 1024px){
			img.bg {
				left: 50%;
				margin-left: -512px; }
		}
		
		div#content {
			/* This is the only important rule */
			/* We need our content to show up on top of the background */
			position: relative; 
			
			/* These have no effect on the functionality */
			width: 80%;
			margin: 0 auto;
			background: #fff;
			padding: 20px;
			font-family: helvetica, arial, sans-serif;
			font-size: 12pt;
			line-height: 14pt;
			-moz-box-shadow: #000 4px 4px 10px;
			-webkit-box-shadow: #000 4px 4px 10px;	
    }
		
	</style>
</head>

<body>
<img src="<%= $pie.current_image %>" class="bg" />
<div id="content">
  <p><%= $pie.current_description %></p>
  <p>
  <% $pie.places[$current].links.each do |place_name, label| %>
    <%= "  <a href='#{place_name}'>#{label.to_s}</a>  "  %>
  <% end %>
  </p>
</div>
</body>

</html>
